<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-featured-card
      photoCover="https://as1.ftcdn.net/v2/jpg/02/48/42/64/1000_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
      cardTitle="Featured card title"
      cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum condimentum feugiat. Donec suscipit turpis et consectetur pulvinar. Nullam varius, purus condimentum eleifend ornare, dui tortor tincidunt sapien, sit amet pharetra ipsum nulla varius diam."
    >
    </app-featured-card>
  </div>
  <div class="articles__others">
    <app-basic-card
      photoCover="https://as1.ftcdn.net/v2/jpg/02/48/42/64/1000_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
      cardTitle="Basic card title"
    >
    </app-basic-card>
    <app-basic-card
      photoCover="https://as1.ftcdn.net/v2/jpg/02/48/42/64/1000_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
      cardTitle="Basic card title"
    >
    </app-basic-card>
    <app-basic-card
      photoCover="https://as1.ftcdn.net/v2/jpg/02/48/42/64/1000_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
      cardTitle="Basic card title"
    >
    </app-basic-card>
  </div>
</div>
